<header class="header">
  <nav class="nav">
    <a href="/">HEADER</a>
    <div class="menu">
      <a href="/" class="menu__item">Inicio</a>
      <a href="/usuarios" class="menu__item">Usuarios</a>
    </div>
  </nav>
</header>