<h1>Editar Usuario</h1>

<form
  class="form"
  action="/usuarios/<%= usuario.id %>?_method=PUT"
  method="post"
>
  <div class="form__group">
    <label class="form__label" for="nombre">Nombre:</label>
    <input
      class="form__input"
      type="text"
      name="name"
      id="nombre"
      value="<%= usuario.nombre %>"
      <!-- required -->
    />
  </div>

  <div class="form__group">
    <label class="form__label" for="email">Email:</label>
    <input
      class="form__input"
      type="email"
      name="email"
      id="email"
      value="<%= usuario.email %>"
      required
    />
  </div>
  
  <div class="form__group">
    <label class="form__label" for="password">Contraseña:</label>
    <input
      class="form__input"
      type="password"
      name="password"
      id="password"
      placeholder="********" required
    />
  </div>

  <button class="button button--primary" type="submit">Guardar</button>
</form>